<p>
  items works!
</p>
<hr>
Firebase Items:
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.$value}}
  </li>
</ul>

<hr>

<div *ngIf="item">
  <h2>{{item.name}}</h2>
  <h3>Key: {{(item | async)?.$key}}</h3>
  <h3>Value: {{(item | async)?.$value}}</h3>
  <input [(ngModel)]="name" placeholder="name"/>
  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
  <button (click)="update()">Update</button>
</div>
Firebase Item:
<h1>{{ (item | async)?.name }}</h1>

<h1>{{ item | async | json }}</h1>